
html, body {
  background: white;
  font-family: 'Lato', sans-serif;
}

.title {
  color: #388cf8; /* Shift blue */
  margin: 0;
}

.sub-title {
  font-size: 1.75rem;
}

.try-shift {
  width: 20rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.trustees {
  background-color: #f0f3f5; /* Shade of grey used in divider */
  margin-top: 3rem;
  padding: 2rem;
}

.section-title {
  margin-top: 4rem;
}

.section-title-quote {
  width: 65%;
  margin: auto;
  text-decoration: italic; 
  color: grey;
  font-size: 1.25rem;
}
.application-apps {
  margin-top: 4rem;
}

.features {
  background-color: #388cf8; /* Shift blue */
  padding: 4rem;
  color: white;
}

.features h4 {
  font-size: 1.2rem;
}

.features p {
  font-size: 0.8rem;
}

.feature-block {
  margin-top: 3rem;
}

.feature-block img {
  margin-right: 2rem;
}

.invitation button {
  margin-top: 1rem;
  width: 18rem;
}

.invitation img {
  display: block;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
}